<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!-- Estilos CSS -->
    @Styles.Render("~/Content/css")
    <link href="~/Content/ComponentesExternos/css/Home/GeneralHome.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")

    <title>TSUKI</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/res/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/res/img/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/res/img/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/res/manifest.json">
    <link rel="mask-icon" href="/res/img/icons/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/res/img/icons/favicon.ico">
    <meta name="msapplication-config" content="/res/browserconfig.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <meta charset="UTF-8">

    <div id="header">
        <div id="headerbar">
            <a href="/status"><img id="headerstatus" src="../img/headerbar/status-ok.png"></a>
            <img id="headerfade_left" src="../img/headerbar/fade-left.png">
            <div id="headernews">
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
                <p>Bienvenido al sistema de prevención LAFT</p>
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
                <p style="color: lime">Cumple con las normativas internacionales</p>
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
                <p style="color: lime">Protege la integridad financiera</p>
                
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
                <p>Última noticia: "Nuevas medidas de prevención implementadas"</p>
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
                <p>La transparencia comienza aquí.</p>
                <img class="newssep" src="../img/headerbar/sep.png" alt="Separator">
            </div>
        </div>
        <a href="/"><img id="knob" src="../img/headerbar/knobs/tsuki_knob.png" /></a>
        <a href="/Account/Register"><img id="knob4" src="../img/headerbar/knobs/officialknob.png" /></a>
        <a href="/Account/Login"><img id="knob5" src="../img/headerbar/knobs/loginknob.png" /></a>
    </div>
    <style>


        html {
            background-color: #000;
            color: #000;
            font-family: paragraph, sans-serif;
            font-size: 16px;
            cursor: url(../img/ui/cursor.png), default
        }

        a {
            cursor: url(../img/ui/pointer.png), default;
            color: inherit;
            text-decoration: none
        }

        h1 {
            font-family: Heading
        }

        #wallpaper {
            width: 100%;
            height: 70vh;
            background-color: #000;
            background-image: url(../img/bg/home.png);
            background-attachment: fixed;
            background-position: center 40%; /* Cambia el 40% para moverlo más abajo o más arriba */
        }

            #wallpaper #lain {
                position: absolute;
                top: calc(70vh - 400px); /* Ajusta este valor para desplazar la imagen de Lain hacia abajo */
                left: 10vw;
                transition: top 0s;
            }

            #wallpaper h1 {
                position: absolute;
                left: calc(10vw + 450px);
                top: calc(70vh - 300px); /* Ajusta este valor según sea necesario */
                font-family: Heading;
                font-size: 3vw;
                text-shadow: 3px 6px #000, 0px -1px #000, 0px 1px #000, -1px 0px #000, 1px 0px #000, -1px -1px #000, 1px 1px #000, -1px 1px #000, 1px -1px #000;
                transition: top 0s;
            }

        *::-moz-selection {
            color: #000;
            background-color: #fff
        }

        *::selection {
            color: #000;
            background-color: #fff
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 8px
        }

        ::-webkit-scrollbar-track {
            background: transparent
        }

        ::-webkit-scrollbar-thumb {
            background: #fff
        }

        .seperator {
            width: 100%;
            height: 32px;
            background-image: url(../img/ui/seperator.png)
        }

        .seperate {
            width: 100%;
            height: 32px;
            background-image: url(../img/ui/seperate.png)
        }

        .syn {
            font-family: S
        }

        .padded {
            padding-left: 10vw;
            padding-right: 10vw
        }

        .overload {
            margin-left: 20vw;
            width: calc(100% - 40vw);
            background-color: #000
        }

        .link {
            color: #ff0
        }

            .link:hover {
                color: #ff0;
                text-decoration: none
            }

        .overno {
            color: #888 !important;
            pointer-events: none
        }

            .overno:hover {
                background-color: #888 !important;
                color: #000 !important
            }

        #index {
            background-color: #000;
            background-image: url(../img/bg/index.png);
            background-attachment: fixed;
            background-position: center;
            padding: 5.2em 10vw
        }

        .indexlist {
            width: calc(100% - 170px);
            display: inline-block;
            height: 64px;
            line-height: 64px;
            vertical-align: 28px
        }

            .indexlist span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal
            }

            .indexlist a,
            .linkt1 {
                color: #ff0
            }

                .indexlist a:hover,
                .linkt1:hover {
                    background-color: #ff0;
                    color: #000
                }


        #header {
            position: relative;
            z-index: 1;
            color: floralwhite;
        }

        #headerbar {
            position: fixed;
            width: 100%;
            left: 0;
            top: 0;
            height: 20px;
            background-color: #000;
            box-shadow: 0px 1px #FFF, 0px 2px #000;
            color: floralwhite;
        }

        #headerstatus {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 1;
            color: floralwhite;
        }

        #headerfade_left {
            position: fixed;
            left: 150px;
            top: 0px;
            z-index: 1;
            color: floralwhite;
        }

        #headernews {
            display: flex;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            color: floralwhite;
            animation: marquee 15s linear infinite;
        }

            #headernews span {
                display: inline-block;
                padding-right: 30px;
                color: floralwhite;
            }

        #knob {
            position: fixed;
            left: 0;
            top: 20px;
        }

        #knob2 {
            position: fixed;
            right: 0;
            top: 20px;
        }

        #knob3 {
            position: fixed;
            right: 100px;
            top: 20px;
        }

        #knob4 {
            position: fixed;
            left: 200px;
            top: 20px;
        }

        #knob5 {
            position: fixed;
            left: 350px;
            top: 20px;
        }

        #knob6 {
            position: fixed;
            left: 460px;
            top: 20px;
        }

        #knob7 {
            position: fixed;
            left: 492px;
            top: 20px;
        }

        .spacing-between-header-nav {
            margin-bottom: 20px; /* Ajusta según necesites */
        }

        body {
            background-color: black;
            color: white; /* Para que el texto sea legible */
        }

        a {
            color: yellow;
        }

        h1, h2, h3, h4, h5, h6 {
            color: white;
        }
    </style>
    <style>
        html {
            background-color: #000;
            color: #fff;
            font-family: paragraph, sans-serif;
            font-size: 16px;
            cursor: url(../img/ui/cursor.png), default
        }

        a {
            cursor: url(../img/ui/pointer.png), default;
            color: inherit;
            text-decoration: none
        }

        h1 {
            font-family: Heading
        }

        *::-moz-selection {
            color: #000;
            background-color: #fff
        }

        *::selection {
            color: #000;
            background-color: #fff
        }

        ::-webkit-scrollbar {
            width: 8px;
            height: 8px
        }

        ::-webkit-scrollbar-track {
            background: transparent
        }

        ::-webkit-scrollbar-thumb {
            background: #fff
        }

        .seperator {
            width: 100%;
            height: 32px;
            background-image: url(../img/ui/seperator.png)
        }

        .seperate {
            width: 100%;
            height: 32px;
            background-image: url(../img/ui/seperate.png)
        }

        .syn {
            font-family: S
        }

        .padded {
            padding-left: 10vw;
            padding-right: 10vw
        }

        .overload {
            margin: 0 auto; /* Centra el elemento horizontalmente */
            max-width: 80%; /* Establece el ancho máximo */
            width: 100%; /* Ocupa todo el espacio disponible */
            background-color: #000;
        }


        .link {
            color: #ff0
        }

            .link:hover {
                color: #ff0;
                text-decoration: none
            }

        .overno {
            color: #888 !important;
            pointer-events: none
        }

            .overno:hover {
                background-color: #888 !important;
                color: #000 !important
            }

        #index {
            background-color: #000;
            background-attachment: fixed;
            background-position: center;
            padding: 5.2em 10vw
        }

        .indexlist {
            width: calc(100% - 170px);
            display: inline-block;
            height: 64px;
            line-height: 64px;
            vertical-align: 28px
        }

            .indexlist span {
                display: inline-block;
                vertical-align: middle;
                line-height: normal
            }

            .indexlist a,
            .linkt1 {
                color: #ff0
            }

                .indexlist a:hover,
                .linkt1:hover {
                    background-color: #ff0;
                    color: #000
                }

        #index.dataverses {
            background-image: url(../img/bg/dataversesd.png)
        }

        #index.recruit {
            background-image: url(../img/bg/recruit.png)
        }

        #index.destruction {
            background-image: url(../img/bg/destruction.png)
        }

            #index.dataverses h6 {
                font-weight: 700;
                font-size: 70%;
                margin: 2.33em 0
            }

        .navbar {
            color: white; /* Hace el texto blanco */
        }

            .navbar a {
                color: white; /* Cambia el color de los enlaces a blanco */
                text-decoration: none; /* Quita subrayado de los enlaces */
            }

                .navbar a:hover {
                    text-decoration: underline; /* Opcional: subrayado al pasar el mouse */
                }

    </style>



</head>

<body>
    <div class="paddedNuevo">
    <div class="padded" style="color: white !important;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container">
                @Html.ActionLink("LAFT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: white !important;" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("Administrador") || User.IsInRole("Analista"))
                        {
                            <li>@Html.ActionLink("PERSONAS", "IndexPersona", "Persona", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                            <li>@Html.ActionLink("ACTIVIDADES FINANCIERAS", "IndexActividadesFinancieras", "ActividadesFinancieras", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                            <li>@Html.ActionLink("ARCHIVOS ANALISIS", "IndexArchivosAnalisis", "ArchivosAnalisis", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                            <li>@Html.ActionLink("PALABRAS CLAVE", "IndexPalabrasClave", "PalabrasClave", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                            <li>@Html.ActionLink("ANALISIS", "IndexAnalisis", "Analisis", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                        }
                        else if (User.IsInRole("Administrador"))
                        {
                            <li>@Html.ActionLink("ACTIVIDADES FINANCIERAS", "IndexActividadesFinancieras", "ActividadesFinancieras", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                            <li>@Html.ActionLink("BITACORA DE EVENTOS", "IndexBitacoraEventos", "BitacoraEventos", new { area = "" }, new { @class = "nav-link", style = "color: white !important;" })</li>
                        }

                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>
        </div>

    @if (ViewContext.RouteData.Values["controller"]?.ToString() == "Home" &&
        ViewContext.RouteData.Values["action"]?.ToString() == "Index")
    {
        @RenderBody()
    }
    else
    {
        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - LAFT</p>
            </footer>
        </div>
    }

    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    @Scripts.Render("~/bundles/jquery") 
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/ComponentesExternos/DataTable/dataTables.min.js"></script>
    <script src="~/Scripts/ComponentesExternos/Validaciones/jquery.min.js"></script>
    <script src="~/Scripts/ComponentesExternos/Validaciones/jquery.validate.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
        </html>
